.block-accordion-tabs__tab-list li {
    list-style-type: none;
}

.tabs-top .block-accordion-tabs__tab-list li {
    display: inline-block;
}

.block-accordion-tabs__item .block-accordion-tabs__item--content {
    max-height: 0;
    overflow: hidden;
}

.block-accordion-tabs__item.active .block-accordion-tabs__item--content {
    max-height: 1000px;
    overflow: auto;
}

@media (min-width: 640px) {
    .block-accordion-tabs__container.tabs-left {
        display: flex;
    }

    .tabs-left .block-accordion-tabs__tab-list {
        width: 20%;
    }

    .tabs-left .block-accordion-tabs__items {
        width: 80%;
    }

}
